# {{ ansible_managed }}

frontend node-exporter-frontend
    bind :::9101 v4v6 ssl crt /etc/haproxy/prometheus-client.pem ca-file /etc/haproxy/prometheus-ca.pem verify required
    mode http
    default_backend node-exporter-backend

backend node-exporter-backend
    option httpchk get /
    http-check expect status 200
    server local localhost:9100 check
